# Copy to `.env` and configure local dev variables.
# Copy to `.env.test` and configure test variables.


# for app
DATABASE_URL='postgres://localhost/memoriam_development'
# or 'postgres://DB_USER:DB_PASSWORD@localhost/memoriam_development'
SESSION_SECRET='a16d0d0f58081fce0b7cad161177a59f'

# for docker-compose services
DATABASE_PASSWORD='ZThQT15oSLZK'
